<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>
<script type="text/html" id="dept_toolbar">
    <form class="layui-form">
        <div>
            <button type="button" lay-event="add" class="layui-btn  layui-btn-sm"> <i class="layui-icon">&#xe61f;</i>备份</button>
        </div>
    </form>
</script>
<table id="deptGrid" lay-filter="dept_filter"></table>
<script type="text/html" id="opt_tool">
    <button type="button" lay-event="update" class="layui-btn layui-btn-warm layui-btn-sm"> <i class="layui-icon">&#xe642;</i>恢复</button>
</script>
<script type="text/javascript" th:inline="none">
    layui.use(['table','form','layer'],function(){
        var $=layui.jquery;
        var layer=layui.layer;
        var form=layui.form;
        var table=layui.table;
        var resultTable = table.render({
            elem: '#deptGrid',
            height: 600,
            //data:user_data,
            url: '/sys/findCoypPage',
            toolbar: '#dept_toolbar',
            //toolbar: false,
            page: true,
            cols: [
                [
                    {field: 'backupsno', title: '唯一标识', sort: true, fixed: 'left'},
                    {field: 'bdate', title: '备份时间'},
                    {field: 'opt',  title: '操作', toolbar: '#opt_tool'}
                ]
            ]
        })
        table.on('toolbar(dept_filter)',function(obj) {
            var opt = obj.event;
            if (opt == 'add') {
                var flag = true;
                $.ajax({
                    url: '/sys/copy',
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    success: function (res) {
                        layer.msg(res.msg);
                        if (res.code == 'success') {
                            resultTable.reload();
                        }
                    }
                })
            }
        })
        table.on('tool(dept_filter)',function(obj) {
            var opt = obj.event;
            var data=obj.data;
            if(opt=='update'){
                var contentStr='&emsp;恢复前建议您先备份数据，恢复后数据将回到恢复点数据，您确定要操作吗？';
                layer.open({
                    title:'提示',
                    area:['300px','150px'],
                    type:1,
                    content:contentStr,
                    btn:['确定','取消'],
                    yes:function(index,layero){

                        $.ajax({
                            url:'/sys/restore',
                            type:'post',
                            dataType:'json',
                            async:false,
                            data:{
                                'backupsno':data.backupsno
                            },
                            success:function(res){
                                layer.msg(res.msg);
                                if(res.code=='success'){
                                    resultTable.reload();
                                }
                            }
                        })
                        layer.close(index);
                    }
                })
            }
        })
    })
</script>
</body>
</html>