<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<script type="text/javascript" src="../static/js/layui.all.js" ></script>
		<script type="text/javascript" src="../static/js/layui.js" ></script>
		<link rel="stylesheet" href="../static/css/layui.css" />
		
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">鹤谷后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <div class="layui-nav layui-layout-left" style="width: 100%;">
      <!--<div style="width: 80%; text-align: center;padding-top: 10px;">
        <span style="padding-top: 30px;font-size: 22px;">欢迎使用经营绩效评估系统</span>
      </div>-->
      <!--<li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>-->
    </div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <!--/*@thymesVar id="userName" type=""*/-->
          用户：<span th:text="${user.userCkName}"></span>
       <!-- <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          <span th:text="${user.userName}"></span>
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">修改资料</a></dd>
        </dl>-->
      </li>
      <li class="layui-nav-item"><a href="javascript:;" id="out">退出</a></li>
    </ul>
  </div>
          <div id="hxNavbar"></div>
  <!--<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      &lt;!&ndash; 左侧导航区域（可配合layui已有的垂直导航） &ndash;&gt;
      &lt;!&ndash;<ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">菜单列表</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-title="用户管理" data-url="/user/userGrid" data-id="1" class="site-demo-active" data-type="tabAdd">用户管理</a></dd>
            <dd><a href="javascript:;" data-title="查询企业" data-url="/qyInfo/qyGrid" data-id="2" class="site-demo-active" data-type="tabAdd">查询企业</a></dd>
            <dd><a href="javascript:;" data-title="数据校验" data-url="/qyInfo/goDataCheck" data-id="3" class="site-demo-active" data-type="tabAdd">数据校验</a></dd>
            <dd><a href="javascript:;" data-title="计算" data-url="/qyInfo/qyGrid" data-id="4" class="site-demo-active" data-type="tabAdd">计算 </a></dd>
          </dl>
        </li>
      </ul>&ndash;&gt;

  </div>
  </div>-->
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-tab layui-tab-card" style="margin: 0px;" lay-filter="demo"  lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this">首页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                </div>
            </div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    ©
  </div>
</div>
<script>
//JavaScript代码区域
layui.extend({
    hxNav: '../static/js/hxNav'  // 根据你自己的目录设置
}).use(['element','jquery','hxNav'], function(){
  var element = layui.element;
  var $=layui.jquery;
    layui.hxNav({
        element: '#hxNavbar',        // 必须，指定ID
        url: '../menu/getMenuNavbar',  // 请求后台数据的接口
        type: 'post',
        shrink: false,
        onSelect: function(v) {
            console.log(v);
            if(v.href){
                if($('.layui-tab-title li[lay-id]').length<=0){
                    //内容区没有tab
                    active.tabAdd(v.href,v.id,v.text);
                }else{
                    //内容区有tab
                    var isTab=false;
                    $.each($('.layui-tab-title li[lay-id]'),function () {
                        if($(this).attr("lay-id")==v.id){
                            isTab=true;
                        }
                    });
                    if(isTab==false){
                        active.tabAdd(v.href,v.id,v.text);
                    }
                }
                active.tabChange(v.id);
            }
        }
    });
  var active={
            tabAdd:function (url,id,name) {
                element.tabAdd('demo',{
                    title:name,
                    content:'<iframe  data-frameid="'+id+'"  src="'+url+'" frameborder="0"   style="width:100%;height:650px;"></iframe>',
                    id:id
                })
            },
            tabChange:function(id){
                element.tabChange('demo',id);
            },
            showuserinfo:function(){
                ///加载用户信息
                layer.open({
                    type:2,
                    title:'用户信息',
                    area:['500px','300px'],
                    content:['gouserinfo','no']
                })
            }

        }
  
  $('.site-demo-active').on('click', function(){
           var dataid=$(this);
           if($('.layui-tab-title li[lay-id]').length<=0){
                //内容区没有tab
               active.tabAdd(dataid.attr("data-url"),dataid.attr("data-id"),dataid.attr("data-title"));
           }else{
               //内容区有tab
               var isTab=false;
               $.each($('.layui-tab-title li[lay-id]'),function () {
                   if($(this).attr("lay-id")==dataid.attr("data-id")){
                       isTab=true;
                   }
               });
               if(isTab==false){
                   active.tabAdd(dataid.attr("data-url"),dataid.attr("data-id"),dataid.attr("data-title"));
               }
           }
            active.tabChange(dataid.attr("data-id"));
     });
  $('#out').on('click',function(){
      layer.open({
          title:'提示',
          content:'您确定要退出系统吗？',
          area:['400px;','200px'],
          btn:['是','否'],
          yes:function (index) {
              location.href="/user/exit";
          },btn2:function (index) {
              layer.close(index);
          }
      })
  })
});
</script>
</body>
</html>
