<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>登录界面</title>
		<script type="text/javascript" src="/static/js/layui.all.js" ></script>
		<script type="text/javascript" src="/static/js/layui.js" ></script>
		<link type="text/css" rel="stylesheet"  href="/static/css/layui.css" />
	</head>
	<body class="layui-layout-body"><!--style="margin: 0px; padding: 0px;height: 100%;background-color: #2E2D3C;"-->
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">鹤谷后台管理</div>
			<!--<div  style="color: #fff;text-align: center;padding-top: 60px;font-size: 32px;">
				企业资产管理系统
			</div>-->
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<a href="javascript:;" id="gywm"><i class="layui-icon layui-icon-tips"></i>&ensp;<span>关于我们</span></a>
				</li>
			</ul>
		</div>
		<div class="layui-body">
			<div class="layui-row" style="height: 80%;">
				<div class="layui-col-xs3 layui-anim layui-anim-scale" style="height: 100%;">
					&emsp;
				</div>
				<div class="layui-col-xs3">
					<div class="layui-card" style="background-color: rgba(150,152,149,0.2); width: 600px;margin-top: 20%;">
						<div class="layui-card-header" style="color: #000;font-size: 18px;">鹤谷后台登录</div>
						<div class="layui-card-body">
							<form id="login_form" method="post" action="/user/login" class="layui-form">
								<div class="layui-form-item" style="margin-top: 20px;">
									<div class="layui-form-label" >
										<i class="layui-icon layui-icon-friends" style="color: #000;font-size: 30px;"></i>
									</div>
									<div class="layui-input-block">
										<input class="layui-input" name="username" lay-verify="required" placeholder="请输入用户名"/>
									</div>
								</div>
								<div class="layui-form-item"></div>
								<div class="layui-form-item">
									<div class="layui-form-label" >
										<i class="layui-icon layui-icon-password" style="color: #000;font-size: 30px;"></i>
									</div>
									<div class="layui-input-block">
										<input class="layui-input" name="password" lay-verify="required" type="password" placeholder="请输入密码"/>
									</div>
								</div>
								<div class="layui-form-item">
									<span id="msg" style="color: red;font-size: 20px;" th:text="${msg}"></span>
								</div>
								<div class="layui-form-item">
									<button class="layui-btn layui-btn-fluid" id="submit_btn" lay-submit lay-filter="login_form">登录</button>
									<!--<div class="layui-input-block" style="text-align: center;">
										<button class="layui-btn layui-btn-fluid" id="submit_btn" lay-submit lay-filter="login_form">登录</button>
										&lt;!&ndash;<button class="layui-btn layui-btn-danger" >重置</button>&ndash;&gt;
									</div>-->
								</div>
								<div class="layui-form-item">
									<a href="/user/goregister" class="layui-btn layui-btn-danger layui-btn-fluid" id="goregister">没有账号？请注册</a>
									<!--<div class="layui-input-block" style="text-align: center;">
										<a href="/user/goregister" class="layui-btn layui-btn-danger layui-btn-fluid" id="goregister">没有账号？请注册</a>
									</div>-->
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="layui-col-xs4" style="height: 100%;">
					&emsp;
				</div>
			</div>
		</div>

		<script type="text/javascript">
			layui.use(['jquery','form'],function(){
				var $=layui.jquery;
				var form=layui.form;
				$('.btn').on('click',function(){
					$(this).addcss('animation-name','layui-scale')
				})
				$('#gywm').on('click',function(){
				    console.log('点击关于我们界面')
				})
                //监听提交
                form.on('submit(login_form)', function(data){
                });/*
				var msg='${msg}';
				$('#msg').html(msg);*/
			})
		</script>
	</body>
</html>
