<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/static/js/layui.js" ></script>
    <link type="text/css" rel="stylesheet"  href="/static/css/layui.css" />
</head>
<body>
<div style="margin-right: 30px;margin-top: 30px;">
    <form id="login_form" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-form-label" >
                <i class="layui-icon layui-icon-friends" style="font-size: 30px;"></i>
            </div>
            <div class="layui-input-block">
                <input class="layui-input" name="userCkName" id="userCkName"  placeholder="昵称"/>
            </div>
            <div class="layui-input-block">
                <span style="color: red;" id="userNameMsg"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label" >
                <i class="layui-icon layui-icon-tabs" style="font-size: 30px;"></i>
            </div>
            <div class="layui-input-block">
                <input class="layui-input" name="phone" id="phone" lay-verify="required" placeholder="手机号"/>
            </div>
            <div class="layui-input-block">
                <span id="carIdMsg" style="color: red;"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label" >
                <i class="layui-icon layui-icon-password" style="font-size: 30px;"></i>
            </div>
            <div class="layui-input-block">
                <input class="layui-input" name="password" id="password" lay-verify="required" type="password" placeholder="请输入密码"/>
            </div>
            <div class="layui-input-block">
                <span style="color: red;" id="pwsmsg"></span>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['jquery','layer'],function(){
        var $ = layui.jquery;
        var form=layui.form;
        var layer=layui.layer;
        $('#userCkName').blur(function () {
            var userName=$(this).val();
            if (userName==''){
                $('#userNameMsg').html("*用户昵称不能为空*");
            }else{
                $("#userNameMsg").html("");
            }
        })
        $('#password').blur(function(){
            var pws=$(this).val();
            if (pws==''){
                $('#pwsmsg').html("*密码不能为空*");
            }
            if (pws.length<8){
                $('#pwsmsg').html("*密码长度至少8位数*");
            }else{
                $('#pwsmsg').html("");
            }
        })
        $('#phone').blur(function () {
            var phone=$(this).val();
            if (phone==''){
                $('#carIdMsg').html("*手机号不能为空*");
            }else{
                $.ajax({
                    url:'/user/checkPhone',
                    type:'get',
                    dataType:'json',
                    data:{
                        'phone':phone
                    },
                    async:false,
                    success:function(res){
                        if(res.code!='success'){
                            $('#carIdMsg').html("该手机号已被注册！！！");
                        }else{
                            $('#carIdMsg').html("");
                        }
                    }
                })
            }
        })

    })
</script>
</body>
</html>