<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/layui.all.js" ></script>
    <!--<script type="text/javascript" src="../static/js/layui.js" ></script>-->
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>
<input id="uId" name="uId" type="hidden" th:value="${uId}">
<div id="test1" class="demo-transfer"></div>
<script type="text/javascript" th:inline="none">
    layui.use(['transfer','jquery','layer'],function(){
        var $=layui.jquery;
        var transfer=layui.transfer;
        var layer=layui.layer;
        //加载所有角色列表
        var data1
        $.ajax({
            url:'/role/findRoleAll',
            type:'post',
            async:false,
            dataType:'json',
            success:function(res){
                data1=res;
            }
        })
        //查询当前用户所拥有的角色列表
        var valData;
        $.ajax({
            url:'/user/findUserRoleByUId',
            type:'post',
            async:false,
            dataType:'json',
            data:{
                'uId':$('#uId').val()
            },
            success:function(res){
                valData=res;
            }
        })
        //基础效果
        Transfer=transfer.render({
            elem: '#test1'
            ,data: data1
            ,title:['未授权','已授权']
            ,value:valData
            ,id: 'demo1'
        })
    })
</script>
</body>
</html>