<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>
<script type="text/html" id="add_toolbar">
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-btn-container">
                <button type="button" lay-event="addrow" class="layui-btn">添加行</button>
                <button type="button" lay-event="checkdata" class="layui-btn">校验数据</button>
            </div>
        </div>
    </form>
</script>
<table id="addDataGrid" lay-filter="add_filter"></table>
<script type="text/javascript" th:inline="none">
    layui.use(['jquery','form','table'],function () {
        var $=layui.jquery;
        var table=layui.table;
        var layer=layui.layer;
        var data=[];
        var objTable=table.render({
            elem:'#addDataGrid',
            id:'addDataTable',
            height:500,
            data:data,
            toolbar:'#add_toolbar',
            page:true,
            cols:[
                [
                    {type:'checkbox', fixed: 'left'},
                    /*{field:'jId',title:'ID',sort:true,fixed:'left'},*/
                    {field:'qymc',title:'企业名称',edit: 'text'},
                    {field:'zzcbcl',title:'总资产报酬率',edit: 'text'},
                    {field:'jzcsyl',title:'净资产收益率',edit: 'text'},
                    {field:'xsjll',title:'销售净利率',edit: 'text'},
                    {field:'mgsyl',title:'每股收益',edit: 'text'},

                    {field:'ldbl',title:'流动比率',edit: 'text'},
                    {field:'sdbl',title:'速动比率',edit: 'text'},
                    {field:'zcfzl',title:'资产负债率',edit: 'text'},
                    {field:'hbzzl',title:'存货周转率',edit: 'text'},

                    {field:'ldzczzl',title:'流动资产周转率',edit: 'text'},
                    {field:'zzczzl',title:'总资产周转率',edit: 'text'},
                    {field:'jlrzzl',title:'净利润增长率',edit: 'text'},
                    {field:'zyywsrzzl',title:'主要业务收入增长率',edit: 'text'}
                    /*{field:'opt',width:300 ,title:'操作',toolbar:'#opt_tool'}*/
                ]
            ]
        })
        table.on('toolbar(add_filter)',function(obj){
            var opt=obj.event;
            if(opt=='addrow'){
                //添加行
                var obj={
                    "qymc":"",
                    "zzcbcl":"",
                    "jzcsyl":"",
                    "xsjll":"",
                    "mgsyl":"",
                    "ldbl":"",
                    "sdbl":"",
                    "zcfzl":"",
                    "hbzzl":"",
                    "ldzczzl":"",
                    "zzczzl":"",
                    "jlrzzl":"",
                    "zyywsrzzl":""
                }
                data.push(obj);
                layer.msg(data.length);
                objTable.reload({
                    data:data
                })
            }else if(opt=='checkdata'){
                //校验数据
            }
        })
    })
</script>
</body>
</html>