<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>
<script type="text/html" id="qyInfoGrid_toolbar">
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-form-label" style="width: 100px;">企业名称</div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="qyName" id="qyName" placeholder="企业名称支持模糊查询"/>
            </div>
            <div class="layui-input-inline">
                <button type="button" id="select" class="layui-btn">查询</button>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-btn-container">
                <button type="button" lay-event="addData" class="layui-btn">录入数据</button>
                <button type="button" id="uploadbtn" class="layui-btn">
                    <i class="layui-icon">&#xe67c;</i>上传文件
                </button>
                <!--<button type="button"  class="layui-btn">导入数据</button>-->
                <button type="button" lay-event="downModel" class="layui-btn">文件导入数据模板下载</button>
            </div>
        </div>
    </form>
</script>
<table id="qyInfoGrid" lay-filter="qy_filter"></table>
<script type="text/javascript" th:inline="none">
    layui.use(['jquery','form','table','upload'],function () {
        var $=layui.jquery;
        var table=layui.table;
        var layer=layui.layer;
        var upload=layui.upload;
        var dataTable=table.render({
            elem:'#qyInfoGrid',
            height:600,
            url:'/qyInfo/findQyInfoAll',
            toolbar:'#qyInfoGrid_toolbar',
            page:true,
            cols:[
                [
                    {type:'checkbox', fixed: 'left'},
                    {field:'jId',title:'ID',sort:true,fixed:'left'},
                    {field:'qymc',title:'企业名称'},
                    {field:'zzcbcl',title:'总资产报酬率'},
                    {field:'jzcsyl',title:'净资产收益率'},
                    {field:'xsjll',title:'销售净利率'},
                    {field:'mgsyl',title:'每股收益'},

                    {field:'ldbl',title:'流动比率'},
                    {field:'sdbl',title:'速动比率'},
                    {field:'zcfzl',title:'资产负债率'},
                    {field:'hbzzl',title:'存货周转率'},

                    {field:'ldzczzl',title:'流动资产周转率'},
                    {field:'zzczzl',title:'总资产周转率'},
                    {field:'jlrzzl',title:'净利润增长率'},
                    {field:'zyywsrzzl',title:'主要业务收入增长率'}
                    /*{field:'opt',width:300 ,title:'操作',toolbar:'#opt_tool'}*/
                ]
            ]
        })
        table.on('toolbar(qy_filter)',function(obj){
            var opt=obj.event;
            if(opt=='addData'){
                //手动录入数据
                var url="/qyInfo/goAddData";
                layer.open({
                    type: 2,
                    anim: 1,
                    title: ['手动录入', 'font-size:16px;'],
                    content: [url, 'no'],
                    area: ['1400px', '600px'],
                    btn: ['保存', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]  //获取弹框页面
                        var rowData=iframeWindow.layui.table.cache.addDataTable;
                        //保存数据
                        var str=JSON.stringify(rowData);
                        var result;
                        $.ajax({
                            url:'/qyInfo/addQyData',
                            data:{
                                'data':str
                            },
                            type:'post',
                            dataType:'json',
                            async:false,
                            success:function (res) {
                                result=res;
                            }
                        })
                        layer.msg(result.msg)
                        if(result.code!='success'){
                            return false;
                        }
                        layer.close(index);
                        dataTable.reload();
                    }
                });
            }else if(opt=='import'){
                //导入数据
            }else if(opt=='downModel'){
                //下载导入模板
                location.href="/qyInfo/downModelFile";
            }
        })
        upload.render({
            elem: '#uploadbtn'
            ,url: '/qyInfo/uploadFile'
            ,accept: 'file' //普通文件
            ,multiple: true
            ,done: function(res){
                //回调
                layer.msg(res.msg);
                if(res.code=='success'){
                    dataTable.reload();
                }
            }
        });
        $('#select').on('click',function () {
            dataTable.reload({
                where:{
                    "qyName":$('#qyName').val()
                }
            })
        })
    })
</script>
</body>
</html>