<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        html,body{
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>
    <img src="" style="width: 700px;height: 200px;" id="zmfile"/>
    <img src="" style="width: 700px;height: 200px;" id="bmfile"/>
    <input type="hidden" id="zmfilepath" name="zmfilepath" th:value="${filezmpath}"/>
    <input type="hidden" id="bmfilepath" name="bmfilepath" th:value="${filefmpath}"/>
    <script type="text/javascript">
        layui.use(['table','form','layer'],function() {
            var $ = layui.jquery;
            var layer=layui.layer;
            $('#zmfile').attr('src',$('#zmfilepath').val());
            $('#bmfile').attr('src',$('#bmfilepath').val());
        })
    </script>
</body>
</html>