<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hegu.tsurutani.app.mapper.CroadcastMapper">
    <insert id="addAnchorInfo" parameterType="com.hegu.tsurutani.entity.AnchorInfo">
            insert into sys_anchor_info(aId,uId,aName,aCarId,aStatus,filezmpath,filefmpath,update_time)values(
              #{aId},#{uId},#{aName},#{aCarId},#{aStatus},#{filezmpath},#{filefmpath},#{update_time}
            )
     </insert>

    <update id="updateSattusAndrtmpPath" parameterType="java.util.Map">
        update  sys_croadcast_info set status=#{status},rtmPath=#{rtmpPath} where  roomId=#{roomId}
    </update>

    <select id="getcroadcastList" parameterType="java.util.Map" resultType="java.util.Map">
        select
          roomId as "roomId",title as "title",content as "content",
          rtmPath as "rtmPath",status as "status",personCount as "personCount",
          anchorId as "anchorId",update_time as "update_time"
        from sys_croadcast_info
        where 1=1
        <if test="title!=null and title!=''">
             and title like CONCAT('%',#{title},'%')
        </if>
        <if test="title!=null and title!=''">
            and anchorId in (
                SELECT aId FROM sys_anchor_info WHERE uId IN(
                  SELECT uId FROM sys_user where userCkName like CONCAT('%',#{userCkName},'%')
                )
            )
        </if>
    </select>

    <update id="updateCroadcastTitleAndContent" parameterType="java.util.Map">
        update sys_croadcast_info set title=#{title},content=#{content} where roomId=#{roomId}
    </update>

    <select id="getCroadcast" parameterType="java.lang.String" resultType="java.util.Map">
        select  roomId as "roomId",title as "title",content as "content",
          rtmPath as "rtmPath",status as "status",personCount as "personCount",
          anchorId as "anchorId",update_time as "update_time"
        from sys_croadcast_info
        where roomId=#{roomId}
    </select>

    <insert id="addCroadcastUser" parameterType="java.util.Map">
        insert into sys_croadcast_user(roomId,uId)VALUES (#{roomId},#{userId})
    </insert>

    <select id="getCroadcastCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(roomId) from sys_croadcast_user where roomId=#{roomId}
    </select>

    <delete id="deleteCroadcastUser" parameterType="java.util.Map">
        delete from sys_croadcast_user where roomId=#{roomId} and uId=#{userId}
    </delete>

    <select id="getCroadcastUserInfo" parameterType="java.lang.String" resultType="java.util.Map">
        select roomId as "roomId",uId as "uId" from sys_croadcast_user where roomId=#{roomId}
    </select>

    <insert id="addCroadcastRoomMsg" parameterType="com.hegu.tsurutani.entity.RoomMsg">
        insert into sys_croadcast_roommsg(msgId,userId,roomId,uckname,content,sendTime,imgurl)
        VALUES (#{msgId},#{userId},#{roomId},#{uckname},#{content},#{sendTime},#{imgurl})
    </insert>

    <select id="getFollow" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(aId) from sys_auchor_follow where aId=#{aId} and uId=#{uId}
    </select>

    <delete id="deleteFollow" parameterType="java.util.Map">
        delete from sys_auchor_follow where aId=#{aId} and uId=#{uId}
    </delete>

    <insert id="addFollow" parameterType="java.util.Map">
        insert into sys_auchor_follow(aId,uId)VALUES (#{aId},#{uId})
    </insert>

    <select id="getRoomUserList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.roomId AS "roomId",a.uId AS "uId",
            b.userCkName AS "userCkName", b.uHerder_Img_herder AS "uimg"
        FROM sys_croadcast_user a
        LEFT JOIN sys_user b ON a.uId=b.uId
        WHERE a.roomId=#{roomId}
    </select>

    <select id="getcroadcastfxCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(roomId) from sys_croadcast_fx where roomId=#{roomId}
    </select>
    
    <insert id="addcroadcastfxInfo" parameterType="java.util.Map">
        insert into sys_croadcast_fx(roomId,uId)VALUES (#{roomId},#{uId})
    </insert>

    <insert id="saveSendGift" parameterType="java.util.Map">
        insert into sys_send_gift(sgId,gId,`count`,price,sendUId,uId,createtime)VALUES (#{sgId},#{gId},#{count},#{price},#{sendUId},#{uId},#{createtime})
    </insert>
    
    <select id="getGiftList" parameterType="java.util.Map" resultType="java.util.Map">
        select gId as "gId",gName as "gName",price as "price",icon as "icon" from sys_gift where 1=1
    </select>
</mapper>