<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hegu.tsurutani.app.mapper.AppNewsMapper">
    <select id="getMsgGroupList" parameterType="java.lang.String" resultType="java.util.Map">
        select
        a.gId as "gId",
        a.gname as "gname",
        (select count(fId) from sys_group_friends where  gId=a.gId) as fcount
        FROM  sys_msg_group a where a.uId=#{uId}
    </select>

    <select id="getGroupfriends" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
         b.gId AS "gId",c.fId AS "fId",c.uId AS "uId",
         c.fuId AS "fuId",c.funame AS "funame",c.fimgurl AS "fimgurl",
         c.remark AS "remark",c.create_time AS "create_time",c.status AS "status"
        FROM sys_group_friends a
        LEFT JOIN sys_msg_group b ON a.gId=b.gId
        LEFT JOIN sys_friends c ON a.fId=c.fId
        WHERE b.uId=#{uId} and b.gId=#{gId}
    </select>

    <select id="getMsgChatList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        b.cId as "cId",b.uId as "uId",b.fuId as "fuId",
        b.isshow as "isshow",b.mcId as "mcId",a.create_time as "create_time"
        from sys_msg_chat a
        left join sys_msg_chat_childer b on a.mcId=b.mcId
        where b.uId =#{uId}
    </select>

    <select id="getLastMsg" parameterType="java.lang.String" resultType="java.util.Map">
        select
          a.clId as "id",a.uId as "formUser",a.uName as "formName",a.uImg as "formIcon",a.muId as "toUser",
          a.msgcontent as "text",a.msgtime as "msgTime",a.status as "status",a.mcId as "ConversationId",a.msgtyp as "msgType",
          a.duration as "duration",a.extra as "extra",a.height as "height",b.isRead as "isRead",
          a.self as "self",a.width as "width",a.isGroup as "isGroup",a.dataPath as "dataPath"
         from sys_msg_chat_list a
         left join sys_msg_childer b on a.clId=b.mId
         where b.cId=#{cId}
         order by a.msgtime DESC
         limit 1
    </select>

    <select id="getNoReadCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(a.clId) from sys_msg_chat_list a
         left join sys_msg_childer b on a.clId=b.mId
         where b.cId=#{cId}  and a.isRead='0'
    </select>

    <select id="getUserInfo" parameterType="java.util.Map" resultType="java.util.Map">
        select
        a.uId AS "uId",a.username AS "username",a.userCkName AS "userCkName",a.uHerder_Img_herder AS "uimg",
        a.sex AS "sex",a.city AS "city",a.create_longitude AS "create_longitude",a.create_latitude AS "create_latitude",
        (SELECT COUNT(fId) FROM sys_friends b WHERE b.fuId=a.uId AND b.uId=#{uId}) AS isFriends
        FROM sys_user a
        where 1=1
        <if test="ckName!=null and ckName!=''">
             and a.userCkName LIKE CONCAT('%',#{ckName},'%')
        </if>
        <if test="username!=null and username!=''">
             and a.username=#{username}
        </if>
        <if test="fuId!=null and fuId!=''">
            and a.uId=#{fuId}
        </if>
    </select>

    <insert id="addfriends" parameterType="java.util.Map">
        insert into sys_friends(fId,uId,fuId,remark,create_time,status)
        VALUES (#{fId},#{uId},#{fuId},#{remark},#{create_time},#{status})
    </insert>

    <insert id="addmsgchat" parameterType="java.util.Map">
        insert into  sys_msg_chat(mcId,uId,fuId,funame,fuimg,create_time,cType)
        VALUES (#{mcId},#{uId},#{fuId},#{funame},#{fuimg},#{create_time},#{cType})
    </insert>

    <insert id="addGroup" parameterType="java.util.Map">
        insert into sys_msg_group(gId,gname,uId)VALUES (#{gId},#{gname},#{uId})
    </insert>
    <delete id="deleteGroupFriends" parameterType="java.util.Map">
        delete from sys_group_friends where gId=#{gId}
    </delete>

    <insert id="addGroupFriends" parameterType="java.util.Map">
        insert into sys_group_friends(gId,fId)VALUES (#{gIds},#{fId})
    </insert>

    <update id="updategroup" parameterType="java.util.Map">
        update sys_msg_group set gname=#{gname} where gId=#{gId} and uId=#{uId}
    </update>

    <select id="getusercrowdList" parameterType="java.util.Map" resultType="java.util.Map">
        select cIId as "cIId",cIName as "cIName" from sys_crowd_Info where uId=#{uId}
    </select>

    <select id="getCrowdMsgByCIId" parameterType="java.lang.String" resultType="java.util.Map">
        select
        cmId,cIId,senduId,
        senduimg,sendmsg,create_time
        from sys_crowd_msg
        order by create_time DESC
        LIMIT 1
    </select>
    
    <insert id="addcrowdInfo" parameterType="java.util.Map">
        insert into sys_crowd_Info(cIId,cIName,uId)VALUES (#{cIId},#{cIName},#{uId})
    </insert>
    
    <insert id="addcrowdfriends" parameterType="java.util.Map">
        insert into sys_crowd_friends(cfId,cIId,uId)VALUES (#{cfId},#{cIId},#{uId})
    </insert>

    <select id="getcrowdInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
         cIId AS "cIId",cIName AS "cIName",(SELECT COUNT(uId) FROM sys_crowd_friends WHERE cIId=a.cIId) AS "ucount"
        FROM sys_crowd_Info a
        WHERE a.cIId = #{cIId}
    </select>

    <select id="crowdUserList" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT
        b.uId AS "uId",b.username AS "username",b.userCkName AS "uCkName",
        b.uHerder_Img_herder AS headerImg FROM sys_crowd_friends a
      LEFT JOIN sys_user b ON a.uId=b.uId
      WHERE a.cIId=#{cIId}
    </select>

    <delete id="deleteGroup" parameterType="java.util.Map">
        delete from sys_msg_group where gId=#{gId} and uId=#{uId}
    </delete>

    <update id="deletemsgchat" parameterType="java.util.Map">
         update sys_msg_chat_childer set isshow=#{status} where uId=#{uId} and mcId=#{mcId}
    </update>
    
    <delete id="deletefriends" parameterType="java.util.Map">
        delete from sys_friends where uId=#{uId} and fuId=#{fuId}
    </delete>
    
    <select id="getMsgChatListPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        cmId as "cmId",cIId as "cIId",senduId as "senduId",senduimg as "senduimg",sendmsg as "sendmsg",sendCkName as "sendCkName",
        create_time as "create_time"
        from sys_crowd_msg
        where 1=1
        <if test="cIId!=null and cIId!=''">
             and cIId=#{cIId}
        </if>
        order by create_time desc
    </select>

    <select id="getMsgChatListfPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
          a.clId as "id",a.uId as "formUser",a.uName as "formName",a.uImg as "formIcon",a.muId as "toUser",
          a.msgcontent as "text",a.msgtime as "msgTime",a.status as "status",a.mcId as "ConversationId",a.msgtyp as "msgType",
          a.duration as "duration",a.extra as "extra",a.height as "height",b.isRead as "isRead",
          a.self as "self",a.width as "width",a.isGroup as "isGroup",a.dataPath as "dataPath"
        from sys_msg_chat_list a
         left join sys_msg_childer b on a.clId=b.mId
         where b.cId in(
            select cId from sys_msg_chat_childer where uId=#{uId}  and mcId=#{mcId}
         )
        order by a.msgtime DESC
    </select>

    <insert id="addmsgchatmsg" parameterType="com.hegu.tsurutani.entity.UserParentMessage">
        insert into sys_msg_chat_list(clId,uId,uName,uImg,muId,msgcontent,msgtime,status,mcId,msgtyp,
        duration,extra,height,isRead,self,width,isGroup,dataPath)
        VALUES (#{message.id},#{formUser},#{formName},#{formIcon},#{toUser},#{message.text},#{msgTime},#{message.status},#{ConversationId},#{msgType},
        #{message.duration},
        #{message.extra},#{message.height},
        #{message.isRead},#{message.self},#{message.width},#{isGroup},#{message.dataPath})
    </insert>

    <insert id="addcrowdMsg"  parameterType="com.hegu.tsurutani.entity.UserMsg">
        insert into sys_crowd_msg(cmId,cIId,senduId,senduimg,sendCkName,sendmsg,create_time)
        VALUES (#{cmId},#{cIId},#{sendUId},#{senduImg},#{sendUckName},#{sendMsg},#{cretime})
    </insert>

    <select id="getGroupGIdByuId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT gId FROM sys_msg_group WHERE uId=#{uId} and  gId=#{gId}
    </select>

    <update id="updateGroupFir" parameterType="java.util.Map">
        update sys_group_friends set gId=#{gIds} where gId=#{gId}
    </update>

    <delete id="deleteCrowdUser" parameterType="java.util.Map">
        delete from sys_crowd_friends where  1=1
        <if test="cIId!=null and cIId!=''">
             and cIId=#{cIId}
        </if>
        <if test="uId!=null and uId!=''">
            and uId=#{uId}
        </if>
    </delete>

    <select id="getFriendsByUIdAndfUId"  resultType="java.lang.String">
        select remark from sys_friends where uId=#{uId} and fuId=#{fuId}
    </select>

    <insert id="addmsgchatChilder" parameterType="java.util.Map">
        insert into sys_msg_chat_childer(cId,uId,fuId,isshow,mcId)
        VALUES (#{cId},#{uId},#{fuId},#{isshow},#{mcId})
    </insert>

    <select id="getCIdBymcId" resultType="java.lang.String">
        select cId as "cId" from sys_msg_chat_childer where mcId=#{mcId}
    </select>

    <insert id="addmsgchilder">
        insert into sys_msg_childer(mId,cId,isRead,status)VALUES (#{id},#{cId},#{isRead},#{status})
    </insert>
    
    <select id="getGroupUIdsByCIId" resultType="java.lang.String">
        SELECT uId FROM sys_crowd_friends WHERE cIId=#{cIId}
    </select>

    <insert id="saveMsg" parameterType="com.hegu.tsurutani.entity.UserParentMessage">
        insert into sys_msg(mId,toUser,ConversationId,formIcon,formName,formUser,extra,msgTime,msgType,isRead,status,msgtext)
        VALUES (#{message.id},#{toUser},#{ConversationId},#{formIcon},#{formName},#{formUser},#{message.extra},#{msgTime},#{msgType},#{message.isRead},#{message.status},#{message.text})
    </insert>

    <select id="getSysMsgInfo" parameterType="java.util.Map" resultType="java.util.Map">
        select
        mId as "id",toUser as "toUser",ConversationId  as "ConversationId",formIcon as "formIcon",formName as "formName",
        formUser as "formUser",extra as "extra",msgTime as "msgTime",msgType as "msgType",isRead as "isRead",status as "status",msgtext as "msgtext"
        from sys_msg where 1=1 and toUser=#{uId}
    </select>

    <update id="updatefriendsstatus" parameterType="java.util.Map">
        update sys_friends set status=#{status} where fId=(select fId from friends_msg where mId=#{id})
    </update>

    <insert id="saveFriendsMsg">
        insert into friends_msg(fId,mId)values(#{fId},#{mId})
    </insert>

    <select id="getMsgChatByUIdAndFuId" resultType="java.util.Map">
        select
        cId as "cId",uId as "uId",fuId as "fuId",isshow as "isshow",mcId as "mcId"
        from sys_msg_chat_childer where uId=#{uId} and fuId=#{fuId}
    </select>

    <update id="updateChatChilder">
        update sys_msg_chat_childer set isshow=#{status} where cId=#{cId}
    </update>

    <update id="updateIsRead" parameterType="java.util.Map">
      update sys_msg_childer set isRead=#{isRead} where mId=#{mId} and cId=#{cId}
    </update>
</mapper>