<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hegu.tsurutani.app.mapper.AppUserMapper">
    <resultMap id="userMap" type="com.hegu.tsurutani.entity.User">
        <result property="uId" column="uId"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="userCkName" column="userCkName"/>
        <result property="phone" column="phone"/>
        <result property="ustatus" column="ustatus"/>

        <result property="uType" column="uType"/>
        <result property="sex" column="sex"/>
        <result property="create_longitude" column="create_longitude"/>
        <result property="create_latitude" column="create_latitude"/>
        <result property="update_longitude" column="update_longitude"/>
        <result property="update_latitude" column="update_latitude"/>
        <result property="uHerder_Img_herder" column="uHerder_Img_herder"/>

        <result property="user_key" column="user_key"/>
        <result property="expire_time" column="expire_time"/>
        <result property="create_time" column="create_time"/>
        <result property="city" column="city"/>
    </resultMap>
    <!--查询单个用户信息-->
    <select id="appUserLogin" resultType="com.hegu.tsurutani.entity.User"
            parameterType="com.hegu.tsurutani.entity.User">
        SELECT * from sys_user WHERE 1=1
        <if test="username!=null and username!=''">
            and (username=#{username}or phone=#{username})
        </if>
        <if test="password!=null and password!=''">
            and password=#{password}
        </if>
    </select>

    <select id="checkPhone" parameterType="java.lang.String" resultType="com.hegu.tsurutani.entity.User">
         SELECT uId,username,password,userCkName,ustatus,phone from sys_user WHERE phone=#{phone}
    </select>

    <insert id="addUser" parameterType="com.hegu.tsurutani.entity.User">
        INSERT INTO sys_user (uId,username, password, userCkName, ustatus
            , phone, uType, sex, create_longitude, create_latitude
            , update_longitude, update_latitude, uHerder_Img_herder,create_time,user_key,expire_time,city)
        VALUES (#{uId},#{username}, #{password}, #{userCkName}, #{ustatus}, #{phone}
            , #{uType}, #{sex}, #{create_longitude}, #{create_latitude}, #{update_longitude}
            , #{update_latitude}, #{uHerder_Img_herder},#{create_time},#{user_key},#{expire_time},#{city})
    </insert>

    <select id="findTimeMaxUser" resultType="com.hegu.tsurutani.entity.User">
         select a.* from sys_user a order by a.create_time desc limit 1
    </select>

    <select id="getUserByUIdAndPassword" resultType="java.util.Map" parameterType="java.util.Map">
        select * from sys_user where password=#{password} and uId=#{uId}
    </select>

    <update id="updatePassWordByUId" parameterType="java.util.Map">
        update sys_user set password=#{newpassword} where uId=#{uId}
    </update>

    <select id="getUserMoneyInfo" parameterType="java.util.Map" resultType="java.util.Map">
        select count(uId) from sys_user_money  where uId=#{uId}
    </select>

    <insert id="addUserMoney" parameterType="java.util.Map">
        insert into sys_user_money(umId,uId,money,updateTime)VALUES (#{umId},#{uId},#{money},#{updateTime})
    </insert>

    <select id="getUserMoney" parameterType="java.util.Map" resultType="java.lang.String">
        select money from sys_user_money where uId=#{uId}
    </select>

    <update id="updateUserMoney" parameterType="java.util.Map">
        update sys_user_money set money=#{updatemoney} where uId=#{uId}
    </update>
    
    <insert id="addGroup" >
        insert into sys_msg_group(gId,uId,gname)VALUES (#{gId},#{uId},#{gname})
    </insert>
</mapper>