<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hegu.tsurutani.app.mapper.ShortVideoMapper">
    <insert id="saveShortVideoInfo" parameterType="com.hegu.tsurutani.entity.Video">
            insert into sys_video(vId,vpath,uId,clickcount,playcount,status,uploadtime,title,content,videoImgPath,city)values(
              #{vId},#{vpath},#{uId},#{clickcount},#{playcount},#{status},#{uploadtime},#{title},#{content},#{videoImgPath},#{city}
            )
     </insert>

    <select id="getVideoPage" resultType="java.util.Map">
        SELECT
            a.vId AS "vId",a.vpath AS "vpath",a.uId AS "uId",a.clickcount AS "clickcount",
                a.playcount AS "playcount",a.status AS "status",a.uploadtime AS "uploadtime",
                a.title AS "title",a.content AS "content",a.videoImgPath AS "videoImgPath",
                (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId) AS "lovecount",
            (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId  AND uId=#{uId}) AS "love",
            (SELECT COUNT(vcId) FROM sys_video_comment WHERE vId=a.vId) AS "cmt",
            (SELECT COUNT(vId) FROM sys_video_fx WHERE vId=a.vId) AS "fx",
            b.userCkName AS "userCkName",b.uHerder_Img_herder AS "uimg"
        FROM sys_video a
        LEFT JOIN sys_user b ON a.uId=b.uId
        order by a.uploadtime desc
    </select>

    <select id="getTcVideoPage" resultType="java.util.Map">
       SELECT
            a.vId AS "vId",a.vpath AS "vpath",a.uId AS "uId",a.clickcount AS "clickcount",
                a.playcount AS "playcount",a.status AS "status",a.uploadtime AS "uploadtime",
                a.title AS "title",a.content AS "content",a.videoImgPath AS "videoImgPath",
             (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId) AS "lovecount",
            (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId  AND uId=#{uId}) AS "love",
            (SELECT COUNT(vcId) FROM sys_video_comment WHERE vId=a.vId) AS "cmt",
            (SELECT COUNT(vId) FROM sys_video_fx WHERE vId=a.vId) AS "fx",
            b.userCkName AS "userCkName",b.uHerder_Img_herder AS "uimg"
        FROM sys_video a
        LEFT JOIN sys_user b ON a.uId=b.uId
        WHERE a.city = #{city}
        order by a.uploadtime desc
    </select>

    <select id="getGzVideoPage" resultType="java.util.Map">
        SELECT
            a.vId AS "vId",a.vpath AS "vpath",a.uId AS "uId",a.clickcount AS "clickcount",
                a.playcount AS "playcount",a.status AS "status",a.uploadtime AS "uploadtime",
                a.title AS "title",a.content AS "content",a.videoImgPath AS "videoImgPath",
             (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId) AS "lovecount",
            (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId  AND uId=#{uId}) AS "love",
            (SELECT COUNT(vcId) FROM sys_video_comment WHERE vId=a.vId) AS "cmt",
            (SELECT COUNT(vId) FROM sys_video_fx WHERE vId=a.vId) AS "fx",
            b.userCkName AS "userCkName",b.uHerder_Img_herder AS "uimg"
        FROM sys_video a
        LEFT JOIN sys_user b ON a.uId=b.uId
        WHERE a.uId in (
          SELECT fuId FROM sys_follow WHERE uId=#{uId}
        )
        order by a.uploadtime desc
    </select>

    <select id="getToncVideoPage" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        a.vId AS "vId",a.vpath AS "vpath",a.uId AS "uId",a.clickcount AS "clickcount",
        a.playcount AS "playcount",a.status AS "status",a.uploadtime AS "uploadtime",
        a.title AS "title",a.content AS "content",a.videoImgPath AS "videoImgPath",
        (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId) AS "lovecount",
        (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId  AND uId=#{uId}) AS "love",
        (SELECT COUNT(vcId) FROM sys_video_comment WHERE vId=a.vId) AS "cmt",
        (SELECT COUNT(vId) FROM sys_video_fx WHERE vId=a.vId) AS "fx",
        b.userCkName AS "userCkName",b.uHerder_Img_herder AS "uimg"
        FROM sys_video a
        LEFT JOIN sys_user b ON a.uId=b.uId
        WHERE a.city = #{city}
        <if test="title!=null and title!=''">
             and a.title like CONCAT('%',#{title},'%')
        </if>
        <if test="uckName!=null and uckName!=''">
            and a.uId in (
              SELECT uId FROM sys_user where userCkName like CONCAT('%',#{uckName},'%')
            )
        </if>
        order by a.uploadtime desc
    </select>

    <select id="getBqVideoList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        a.vId AS "vId",a.vpath AS "vpath",a.uId AS "uId",a.clickcount AS "clickcount",
        a.playcount AS "playcount",a.status AS "status",a.uploadtime AS "uploadtime",
        a.title AS "title",a.content AS "content",a.videoImgPath AS "videoImgPath",
        (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId) AS "lovecount",
        (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId  AND uId=#{uId}) AS "love",
        (SELECT COUNT(vcId) FROM sys_video_comment WHERE vId=a.vId) AS "cmt",
        (SELECT COUNT(vId) FROM sys_video_fx WHERE vId=a.vId) AS "fx",
        b.userCkName AS "userCkName",b.uHerder_Img_herder AS "uimg"
        FROM sys_video a
        LEFT JOIN sys_user b ON a.uId=b.uId
        WHERE 1=1
        <if test="title!=null and title!=''">
            and a.title like CONCAT('%',#{title},'%')
        </if>
        <if test="uckName!=null and uckName!=''">
            and a.uId in (
            SELECT uId FROM sys_user where userCkName like CONCAT('%',#{uckName},'%')
            )
        </if>
        order by a.uploadtime desc
    </select>

    <select id="getGuanZhuVideoPage" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        a.vId AS "vId",a.vpath AS "vpath",a.uId AS "uId",a.clickcount AS "clickcount",
        a.playcount AS "playcount",a.status AS "status",a.uploadtime AS "uploadtime",
        a.title AS "title",a.content AS "content",a.videoImgPath AS "videoImgPath",
        (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId) AS "lovecount",
        (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId  AND uId=#{uId}) AS "love",
        (SELECT COUNT(vcId) FROM sys_video_comment WHERE vId=a.vId) AS "cmt",
        (SELECT COUNT(vId) FROM sys_video_fx WHERE vId=a.vId) AS "fx",
        b.userCkName AS "userCkName",b.uHerder_Img_herder AS "uimg"
        FROM sys_video a
        LEFT JOIN sys_user b ON a.uId=b.uId
        WHERE a.uId in (
          SELECT fuId FROM sys_follow WHERE uId=#{uId}
        )
        <if test="title!=null and title!=''">
            and a.title like CONCAT('%',#{title},'%')
        </if>
        <if test="uckName!=null and uckName!=''">
            and a.uId in (
            SELECT uId FROM sys_user where userCkName like CONCAT('%',#{uckName},'%')
            )
        </if>
        order by a.uploadtime desc
    </select>

    <select id="getBarrageList" resultType="java.util.Map">
        select vcId as "vcId",vId as "vId",uId as "uId",content as "content",updatetime as "updatetime" from sys_video_comment
        where 1=1
        <if test="resourceId!=null and resourceId!=''">
            and vId=#{resourceId}
        </if>
        order by updatetime DESC
    </select>
    
    <select id="getVideoInfoByVId" resultType="java.util.Map">
       SELECT
        a.vId AS "vId",a.vpath AS "vpath",a.uId AS "uId",a.clickcount AS "clickcount",
        a.playcount AS "playcount",a.status AS "status",a.uploadtime AS "uploadtime",
        a.title AS "title",a.content AS "content",a.videoImgPath AS "videoImgPath",
        (SELECT COUNT(uId) FROM sys_video_love WHERE vId=a.vId) AS "lovecount",
        (SELECT COUNT(vcId) FROM sys_video_comment WHERE vId=a.vId) AS "cmt",
        (SELECT COUNT(vId) FROM sys_video_fx WHERE vId=a.vId) AS "fx",
        b.userCkName AS "userCkName",b.uHerder_Img_herder AS "uimg"
        FROM sys_video a
        LEFT JOIN sys_user b ON a.uId=b.uId
        where vId =#{vId}
    </select>

    <update id="updateVideoCollect">
        update sys_video set clickcount=#{num} where vId=#{vId}
    </update>
    
    <insert id="addVideocomment">
        insert into sys_video_comment(vcId,vId,uId,content,updatetime,pvcId,imgpath)values(#{vcId},#{vId},#{uId},#{content},#{updatetime},#{pcvId},#{imgpath})
    </insert>

    <update id="updateVideoPlaycount">
        update sys_video set playcount=#{num} where vId=#{vId}
    </update>

    <select id="getvideocomment" parameterType="java.util.Map" resultType="java.util.Map">
        select
        vcId as "vcId",vId as "vId",uId as "uId",
        content as "content",updatetime as "updatetime",pvcId as "pvcId",
        imgpath as "imgpath"
        from sys_video_comment where pvcId='0' and vId=#{vId}
    </select>

    <select id="getChilderComment" parameterType="java.util.Map" resultType="java.util.Map">
        select
        vcId as "vcId",vId as "vId",uId as "uId",
        content as "content",updatetime as "updatetime",pvcId as "pvcId",
        imgpath as "imgpath"
        from sys_video_comment where pvcId=#{pvcId}
    </select>

    <select id="getChilderCommentCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        count(vcId)
        from sys_video_comment where pvcId=#{pvcId}
    </select>

    <select id="getdzcount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(dzId) from sys_comment_dz where 1=1
        <if test="cId!=null and cId!=''">
             and cId=#{cId}
        </if>
        <if test="uId!=null and uId!=''">
            and uId=#{uId}
        </if>
        <if test="type!=null and type!=''">
            and `type`=#{type}
        </if>
    </select>

    <delete id="deletedzbyuIdandcId" parameterType="java.util.Map">
        delete from  sys_comment_dz where uId=#{uId} and cId=#{cId}
    </delete>

    <update id="updatedzbyuIdandcId">
        update sys_comment_dz set  `type`=#{type} where uId=#{uId} and cId=#{cId}
    </update>

    <insert id="adddzbyuIdandcId" parameterType="java.util.Map">
        insert into sys_comment_dz(dzId,uId,`type`,cId)VALUES (#{dzId},#{uId},#{type},#{cId})
    </insert>

    <insert id="videofx" parameterType="java.util.Map">
        insert into sys_video_fx(fxId,vId,uId,create_time)VALUES (#{fxId},#{vId},#{uId},#{create_time})
    </insert>

    <select id="getVideofenxCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(fxId)  from sys_video_fx where vId=#{vId}
    </select>
    
    <insert id="addFollow" parameterType="java.util.Map">
        insert into sys_follow(uId,fuId,ftime)values(#{uId},#{fuId},#{ftime})
    </insert>

    <insert id="addVideogGift" parameterType="java.util.Map">
        insert into sys_video_gift(vgId,vId,uId,gtime,`count`)VALUES (#{vgId},#{vId},#{uId},#{gtime},#{count})
    </insert>

    <insert id="love" parameterType="java.util.Map">
        insert into sys_video_love(vId,uId)VALUES (#{vId},#{uId})
    </insert>

    <select id="getVideoLove" parameterType="java.util.Map" resultType="java.lang.Integer">
      select count(vId) from sys_video_love where vId=#{vId} and uId=#{uId}
    </select>
    
    <delete id="deleteLove" parameterType="java.util.Map">
        delete from sys_video_love where vId=#{vId} and uId=#{uId}
    </delete>
</mapper>