<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hegu.tsurutani.dao.RoleMapper">
        <resultMap id="roleMap" type="com.hegu.tsurutani.entity.Role">
            <result column="rId" property="rId"/>
            <result column="rName" property="rName"/>
        </resultMap>
    <select id="findRoleByUId" resultMap="roleMap">
            SELECT * FROM admin_role WHERE rId IN(
                SELECT rId FROM admin_user_role WHERE uId=#{uId}
            }
    </select>
    <select id="findRolePage" resultMap="roleMap">
        select * from admin_role where 1=1
        <if test="rName!=null and rName!=''">
            and rName like CONCAT('%',#{rName},'%')
        </if>
    </select>
    <select id="findRoleMenu" resultType="java.lang.String">
         SELECT mId FROM admin_role_menu where rId=#{rId}
    </select>
    <insert id="add">
        insert into admin_role(rId,rName)value(#{rName},#{rId})
    </insert>
    <insert id="addRoleMenu">
        insert into admin_role_menu(rId,mId)
        VALUES
        <foreach collection="rmIds" item="items" separator=",">
            (#{rId},#{items})
        </foreach>
    </insert>
    <delete id="delete">
        delete from admin_role where rId=#{rId}
    </delete>
    <delete id="deleteRoleMenuByRId">
        delete from admin_role_menu where rId=#{rId}
    </delete>
    <update id="update">
        update admin_role set rName=#{rName} where rId=#{rId}
    </update>
    <select id="findRoleAll" resultType="java.util.Map">
        select rId as value,rName as title from admin_role
    </select>
    <delete id="deleteUserRoleByRId">
        delete from admin_user_role WHERE rId=#{rId}
    </delete>
</mapper>