<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>
<script type="text/html" id="code_toolbar">
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-form-label" style="width: 100px;">字典名称</div>
            <div class="layui-input-inline">
                <input type="text" name="cName" id="cName" class="layui-input" />
            </div>
            <div class="layui-input-inline">
                <div class="layui-btn" id="code_select" lay-event="select">搜索</div>
            </div>
        </div>
        <div>
            <button type="button" lay-event="add" class="layui-btn  layui-btn-sm"> <i class="layui-icon">&#xe61f;</i>新增</button>
        </div>
    </form>
</script>
<table id="codeGrid" lay-filter="code_filter"></table>
<script type="text/html" id="opt_tool">
    <button type="button" lay-event="delete" class="layui-btn  layui-btn-danger layui-btn-sm"> <i class="layui-icon">&#x1007;</i>删除</button>
    <button type="button" lay-event="update" class="layui-btn layui-btn-warm layui-btn-sm"> <i class="layui-icon">&#xe642;</i>编辑</button>
    <button type="button" lay-event="findzzd" class="layui-btn layui-btn-normal layui-btn-sm"> <i class="layui-icon">&#xe672;</i>子字典</button>
    <button type="button" lay-event="addzzd" class="layui-btn layui-btn-normal layui-btn-sm"> <i class="layui-icon">&#xe672;</i>添加子字典</button>
</script>
<script type="text/javascript" th:inline="none">
    layui.use(['table','form','layer'],function(){
        var $=layui.jquery;
        var layer=layui.layer;
        var form=layui.form;
        var table=layui.table;
        var resultTable = table.render({
            elem: '#codeGrid',
            height: 600,
            //data:user_data,
            url: '/datacode/findParentPage',
            toolbar: '#code_toolbar',
            //toolbar: false,
            page: true,
            cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'cId', title: 'ID', sort: true, fixed: 'left'},
                    {field: 'cName', title: '字典名称'},
                    {field: 'bz', title: '备注'},
                    {field: 'opt', width: 400, title: '操作', toolbar: '#opt_tool'}
                ]
            ]
        })
        table.on('toolbar(code_filter)',function(obj) {
            var opt = obj.event;
            layer.open({
                type:2,
                anim:1,
                title:['新增角色','font-size:16px;'],
                content:['/datacode/goAddParentCode','no'],
                area:['900px','400px'],
                btn:['保存','取消'],
                yes:function(index,layero){
                    var body=layer.getChildFrame('body',index);
                    var cName=body.find('#cName').val();
                    var bz=body.find('#bz').val();
                    if(!cName){
                        return false;
                    }
                    var flag=true;
                    $.ajax({
                        url:'/datacode/addCode',
                        type:'post',
                        dataType:'json',
                        async:false,
                        data:{
                            'cName':cName,
                            'bz':bz
                        },
                        success:function(res){
                            if(res.code!='success'){
                                flag=false;
                            }
                            layer.msg(res.msg);
                        }
                    })
                    if(flag){
                        resultTable.reload();
                        layer.close(index);
                    }
                }
            })
        })
        table.on('tool(code_filter)',function(obj) {
            var opt = obj.event;
            var data=obj.data;
            if(opt=='delete'){
                var contentStr='&emsp;您确定要删除吗？'
                if(data.pId==0){
                    contentStr='&emsp;您删除的是父级字典，删除后父级字典的子字典值也一并删除，您确定删除吗？'
                }
                layer.open({
                    title:'提示',
                    area:['300px','150px'],
                    type:1,
                    content:contentStr,
                    btn:['确定','取消'],
                    yes:function(index,layero){
                        layer.close(index);
                        $.ajax({
                            url:'/datacode/deleteCode',
                            type:'post',
                            dataType:'json',
                            async:false,
                            data:{
                                'cId':data.cId
                            },
                            success:function(res){
                                layer.msg(res.msg);
                                if(res.code=='success'){
                                    resultTable.reload();
                                }
                            }
                        })
                    }
                })
            }else if(opt=='update'){
                layer.open({
                    type:2,
                    anim:1,
                    title:['编辑','font-size:16px;'],
                    content:['/datacode/goupdateCode?cId='+data.cId+'&cName='+data.cName+'&bz='+data.bz,'no'],
                    area:['900px','400px'],
                    btn:['保存','取消'],
                    yes:function(index,layero){
                        var body=layer.getChildFrame('body',index);
                        var cId=body.find('#cId').val();
                        var cName=body.find('#cName').val();
                        var bz=body.find('#bz').val();
                        if(!cName){
                            return false;
                        }
                        var flag=true;
                        $.ajax({
                            url:'/datacode/updateCode',
                            type:'post',
                            dataType:'json',
                            async:false,
                            data:{
                                'cId':cId,
                                'cName':cName,
                                'bz':bz
                            },
                            success:function(res){
                                if(res.code!='success'){
                                    flag=false;
                                }
                                layer.msg(res.msg);
                            }
                        })
                        if(flag){
                            resultTable.reload();
                            layer.close(index);
                        }
                    }
                })
            }else if(opt=='findzzd'){
                layer.open({
                    type: 2, //type:0 也行
                    title: "子字典列表",
                    area: ["800px", "90%"],
                    content: ['/datacode/gochildGrid?pId='+data.cId],
                    btn: ['关闭'],
                    yes: function(index, layero) {
                        layer.close(index);
                    }
                });
            }else if(opt=='addzzd'){
                layer.open({
                    type:2,
                    title:'添加子字典',
                    area:['900px','400px'],
                    content:['/datacode/goAddChiledCode?pId='+data.cId,'no'],
                    btn:['保存','取消'],
                    yes:function(index,layero){
                        var body=layer.getChildFrame('body',index);
                        var cName=body.find('#cName').val();
                        var bz=body.find('#bz').val();
                        var pId=body.find('#pId').val();
                        if(!cName){
                            return false;
                        }
                        var flag=true;
                        $.ajax({
                            url:'/datacode/addCode',
                            type:'post',
                            dataType:'json',
                            async:false,
                            data:{
                                'cName':cName,
                                'bz':bz,
                                'pId':pId
                            },
                            success:function(res){
                                if(res.code!='success'){
                                    flag=false;
                                }
                                layer.msg(res.msg);
                            }
                        })
                        if(flag){
                            resultTable.reload();
                            layer.close(index);
                        }
                    }
                })
            }
        })
    })
</script>
</body>
</html>