<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../static/js/layui.js"></script>
    <link rel="stylesheet" href="../../static/css/layui.css"/>
</head>
<body>
<script type="text/html" id="logGrid_toolbar">
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-form-label" style="width: 100px;">请求Url</div>
            <div class="layui-input-inline">
                <input type="text" name="reqUrl" id="reqUrl" class="layui-input" placeholder="模糊查询"/>
            </div>
            <div class="layui-form-label" style="width: 100px;">类型</div>
            <div class="layui-input-inline">
                <select class="layui-select" name="souType" id="souType">
                    <option value=""></option>
                    <option value="APP">---APP---</option>
                    <option value="Admin">后台管理</option>
                </select>
            </div>
            <div class="layui-form-label" style="width: 100px;">状态</div>
            <div class="layui-input-inline">
                <select class="layui-select" name="status" id="status">
                    <option value=""></option>
                    <option value="success">成功</option>
                    <option value="error">失败</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label" style="width: 100px;">时间</div>
            <div class="layui-input-inline">
                <input type="text" name="startTime" id="startTime" class="layui-input" />
            </div>
            <div class="layui-input-inline">
                <input name="endTime" id="endTime" class="layui-input"/>
            </div>
            <div class="layui-input-inline">
                <div class="layui-btn" id="logGrid_select" data-type="logGrid_select">搜索</div>
            </div>
        </div>
    </form>
</script>
<table id="logGrid" lay-filter="log_filter"></table>
<!--<script type="text/html" id="opt_tool">
    <button type="button" lay-event="delete" class="layui-btn  layui-btn-danger layui-btn-sm"> <i class="layui-icon">&#x1007;</i>删除</button>
    <button type="button" lay-event="update" class="layui-btn layui-btn-warm layui-btn-sm"> <i class="layui-icon">&#xe642;</i>编辑</button>
    <button type="button" lay-event="fpcd" class="layui-btn layui-btn-normal layui-btn-sm"> <i class="layui-icon">&#xe672;</i>分配菜单</button>
</script>-->
<script type="text/javascript" th:inline="none">
    layui.use(['table', 'form', 'laydate', 'layer'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate=layui.laydate;

        var resultTable = table.render({
            elem: '#logGrid',
            height: 580,
            //data:user_data,
            url: '/admin/log/getLogPage',
            toolbar: '#logGrid_toolbar',
            //toolbar: false,
            page: true,
            cols: [
                [
                    {field: 'souType', title: '调用应用', width: 150},
                    {field: 'ip', title: '调用IP', width: 150},
                    {field: 'status', title: '请求状态', width: 100},
                    {field: 'reqUrl', title: '请求URL', width: 200},
                    {field: 'reqMethod', title: '请求方法', width: 100},
                    {field: 'classMethodName', title: '接口对应程序方法', width: 200},
                    {field: 'reqParams', title: '请求参数', width: 500},
                    {field: 'result', title: '返回结果', width: 500},
                    {field: 'reqTime', title: '请求时间', width: 200}
                ]
            ]
        })
        laydate.render({
            elem:'#startTime'
        })
        form.render()
        laydate.render({
            elem:'#endTime' //指定元素
        });
        form.render()
        var active = {
            logGrid_select:function(){
                resultTable.reload({
                    where: {
                        souType: $('#souType').val(),
                        startTime: $('#startTime').val(),
                        endTime: $('#endTime').val(),
                        reqUrl: $('#endTime').val(),
                        status: $('#status').val()
                    }
                })
                laydate.render({
                    elem:'#startTime'
                })

                laydate.render({
                    elem:'#endTime' //指定元素
                });
                form.render()
            }
        }
        $("body").on('click','.layui-input-inline .layui-btn', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    })
</script>
</body>
</html>