<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>
<script type="text/html" id="apply_toolbar">
   <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-form-label">城市</div>
            <div class="layui-input-inline">
                <input type="text" name="cityName" id="cityName" class="layui-input" placeholder="支持模糊查询" />
            </div>
            <div class="layui-form-label">标题</div>
            <div class="layui-input-inline" style="width: 400px;">
                <input name="title" id="title" class="layui-input" style="width: 400px;" placeholder="支持模糊查询" />
            </div>
            <div class="layui-input-inline">
                <div class="layui-btn" id="select" lay-event="select">搜索</div>
            </div>
        </div>
    </form>
</script>
<table id="applyGrid" lay-filter="apply_filter"></table>
<script type="text/html" id="opt_tool">
    <button type="button" lay-event="selectImg" class="layui-btn  layui-btn-primary layui-btn-sm">查看封面</button>
    <button type="button" lay-event="selectVideo" class="layui-btn  layui-btn-primary layui-btn-sm">查看视屏</button>
    <button type="button" lay-event="applySuccess" class="layui-btn  layui-btn-normal layui-btn-sm">审核通过</button>
    <button type="button" lay-event="applyError" class="layui-btn layui-btn-danger layui-btn-sm">审核不通过</button>
</script>
<script type="text/javascript" th:inline="none">
    layui.use(['table','form','layer'],function(){
        var $=layui.jquery;
        var layer=layui.layer;
        var form=layui.form;
        var table=layui.table;
        var resultTable = table.render({
            elem: '#applyGrid',
            height: 600,
            url: '/video/applyListPage?status=0',
            toolbar: '#apply_toolbar',
            page: true,
            cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'vId', title: 'ID',width:200},
                    {field: 'uId', title: '上传用户',width:100},
                    {field: 'title',  title: '标题',width:200},
                    {field: 'clickcount',  title: '收藏量',width:100},
                    {field: 'playcount',  title: '播放量',width:100},
                    {field: 'city',  title: '城市',width:200},
                    {field: 'status',  title: '状态',width:100,templet:function(d){
                        if(d.status==0){
                            return '<span style="color: #00CBFF;">待审核</span>';
                        }else if(d.status==1){
                            return '<span style="color: #00FF00;">审核通过</span>';
                        }else if(d.status=='2'){
                            return '<span style="color: red;">审核不通过</span>'
                        }
                        }},
                    {field: 'content',  title: '描述',width:300},
                    {field: 'vpath', title: '视屏地址',width:300},
                    {field: 'videoImgPath',title: '封面地址',width:300},
                    {field: 'uploadtime',title: '上传时间',width:200},
                    {field: 'opt',title: '操作',width:400, toolbar: '#opt_tool'}
                ]
            ]
        })
        table.on('toolbar(apply_filter)',function(obj) {
            var opt = obj.event;
            if (opt == 'add') {
                layer.open({
                    type: 2,
                    anim: 1,
                    title: ['新增人员', 'font-size:16px;'],
                    content: ['/person/goAddPerson'],
                    area: ['900px', '600px'],
                    btn: ['保存', '取消'],
                    yes: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        var pName = body.find('#pName').val();
                        var pSex = body.find('#pSex').val();
                        var phone = body.find('#phone').val();
                        var pAddress = body.find('#pAddress').val();
                        var dId = body.find('#dId').val();
                        var cId = body.find('#cId').val();
                        var carId = body.find('#carId').val();
                        if (!pName) {
                            return false;
                        }
                        if (!pSex) {
                            return false;
                        }
                        if (!phone) {
                            return false;
                        }
                        if (!pAddress) {
                            return false;
                        }
                        if (!dId) {
                            return false;
                        }
                        if (!cId) {
                            return false;
                        }
                        if (!carId) {
                            return false;
                        }else {
                            var flag=true;
                            $.ajax({
                                url:'/user/checkCarId',
                                type:'post',
                                dataType:'json',
                                data:{
                                    'carId':carId
                                },
                                async:false,
                                success:function(res){
                                    if(res.code=='success'){
                                        flag=false;
                                    }
                                }
                            })
                            if(!flag){
                                return false;
                            }
                        }
                        var flag = true;
                        $.ajax({
                            url: '/person/addPerson',
                            type: 'post',
                            dataType: 'json',
                            async: false,
                            data: {
                                'pName': pName,
                                'pSex':pSex,
                                'phone':phone,
                                'pAddress':pAddress,
                                'dId':dId,
                                'cId':cId,
                                'carId':carId
                            },
                            success: function (res) {
                                if (res.code != 'success') {
                                    flag = false;
                                }
                                layer.msg(res.msg);
                            }
                        })
                        if (flag) {
                            resultTable.reload({
                                where:{
                                    'pName': '',
                                    'pSex':'',
                                    //'pAddress':'',
                                    'dept':'',
                                    'carId':''
                                }
                            });
                            layer.close(index);
                        }
                    }
                })
            } else if (opt=='select'){
                resultTable.reload({
                    where:{
                        'city': $('#cityName').val(),
                        'title':$('#title').val()
                    }
                })
            }
        })
        table.on('tool(apply_filter)',function(obj) {
            var opt = obj.event;
            var data=obj.data;
            if(opt=='applySuccess'){
                $.ajax({
                    url:'/video/apply?vId='+data.vId+'&status=1',
                    type:'GET',
                    dataType:'json',
                    async:false,
                    success:function(res){
                       if(res.code=='success'){
                           resultTable.reload();
                       }
                        layer.msg(code.msg)
                    }
                })
            }else if(opt=='applyError'){
                $.ajax({
                    url:'/video/apply?vId='+data.vId+'&status=2',
                    type:'GET',
                    dataType:'json',
                    async:false,
                    success:function(res){
                        if(res.code=='success'){
                            resultTable.reload();
                        }
                        layer.msg(code.msg)
                    }
                })
            }else if(opt=='selectImg'){
                layer.open({
                    type:2,
                    anim:1,
                    title:['查看封面','font-size:16px;'],
                    content:['/video/goshowImg?vId='+data.vId,'no'],
                    area:['700px','500px'],
                    btn:['关闭'],
                    yes:function(index,layero){
                        layer.close(index)
                    }
                })
            }else if(opt=='selectVideo'){
                layer.open({
                    type:2,
                    anim:1,
                    title:['查看视频','font-size:16px;'],
                    content:['/video/goshowvideo?vId='+data.vId,'no'],
                    area:['700px','500px'],
                    btn:['关闭'],
                    yes:function(index,layero){
                        layer.close(index)
                    }
                })
            }
        })
    })
</script>
</body>
</html>