<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        html,body{
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>

    <video style="width: 700px;height: 400px;" controls  autoplay="autoplay">
        <source th:src="${src}">
    </video>
    <input type="hidden" id="vId" name="vId" th:value="${vId}"/>
    <script type="text/javascript">
        /*$(function(){
            var vId='${vId}';

        })*/
        layui.use(['table','form','layer'],function() {
            var $ = layui.jquery;
            var layer=layui.layer;

           /* $.ajax({
                url:'/video/getVideoInfoByvId?vId='+$('#vId').val(),
                type:'GET',
                dataType:'json',
                async:false,
                success:function (res) {
                    //$('source').prop('src',res.vpath);
                }
            })*/
        })
    </script>
</body>
</html>