<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body>
<!--<script type="text/html" id="menuGrid_toolbar">
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-form-label" style="width: 100px;">菜单名称</div>
            <div class="layui-input-inline">
                <input type="text" name="mName" id="mName" class="layui-input" />
            </div>
            <div class="layui-input-inline">
                <div class="layui-btn" id="roleGrid_select" lay-event="select">搜索</div>
            </div>
        </div>
        <div>
                <button type="button" lay-event="add" class="layui-btn layui-btn-radius"> <i class="layui-icon">&#xe61f;</i>新增</button>
        </div>
    </form>
</script>-->
<button type="button" class="layui-btn layui-btn-primary add">新增</button>
<table  class="layui-table layui-form" id="menuGrid" lay-filter="menu_filter"></table>
<!--<script type="text/html" id="opt_tool">
    <button type="button" lay-event="delete" class="layui-btn  layui-btn-danger layui-btn-sm"> <i class="layui-icon">&#x1007;</i>删除</button>
    <button type="button" lay-event="update" class="layui-btn layui-btn-warm layui-btn-sm"> <i class="layui-icon">&#xe642;</i>编辑</button>
    <button type="button" lay-event="addchilden" class="layui-btn layui-btn-normal layui-btn-sm"> <i class="layui-icon">&#xe61f;</i>添加子菜单</button>
</script>-->
<script type="text/javascript" th:inline="none">
    layui.extend({
        treeTable: '../static/js/treeTable'  // 根据你自己的目录设置
    }).use(['table','form','treeTable'],function() {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var treeTable=layui.treeTable;
        var trees;
        activt={
            reload:function(){
                trees=treeTable.render({
                    elem: '#menuGrid',
                    url:'/menu/findMenuAll',
                    icon_key: 'title',
                    is_checkbox: true,
                    checked: {
                        key: 'id'
                        //data: [0,1,4,10,11,5,2,6,7,3,8,9],
                    },
                    end: function(e){
                        form.render();
                    },
                    icon: {
                        open: 'layui-icon layui-icon-triangle-d',
                        close: 'layui-icon layui-icon-triangle-r',
                        left: 16,
                    },
                    cols: [
                        {
                            key: 'id',
                            title: 'ID',
                            width: '100px',
                            align: 'center',
                        },
                        {
                            key: 'title',
                            title: '名称',
                            width: '100px'
                        },
                        {
                            key: 'murl',
                            title: 'url',
                            width: '100px'
                        },
                        {
                            key: 'pid',
                            title: '父ID',
                            width: '100px',
                            align: 'center',
                        },
                        {
                            title: '操作',
                            align: 'center',
                            template: function(item){
                                if(item.pid!='0'){
                                    return '<a lay-filter="delete" class="layui-btn  layui-btn-danger layui-btn-sm"> <i class="layui-icon">&#x1007;</i>删除</a><a lay-filter="update" class="layui-btn layui-btn-warm layui-btn-sm"> <i class="layui-icon">&#xe642;</i>编辑</a>';
                                }else{
                                    return '<a lay-filter="delete" class="layui-btn  layui-btn-danger layui-btn-sm"> <i class="layui-icon">&#x1007;</i>删除</a><a lay-filter="update" class="layui-btn layui-btn-warm layui-btn-sm"> <i class="layui-icon">&#xe642;</i>编辑</a><a lay-filter="addchilden" class="layui-btn layui-btn-normal layui-btn-sm"> <i class="layui-icon">&#xe61f;</i>添加子菜单</a> ';
                                }

                            }
                        }
                    ]
                });
            }
        }
        activt.reload();
        treeTable.on('tree(delete)',function(data){
            layer.msg('删除'+JSON.stringify(data));
            var datas=data.item;
            var msg='';
            if(datas.pid=='0'){
                msg='您删除的是父级菜单，该父级菜下面所有子菜单将一起被删除；确定删除吗？';
            }else{
                msg="删除后数据将不可恢复您确定要删除吗？";
            }
            layer.confirm(msg,function(index){
                $.ajax({
                    url:'/menu/delete',
                    type:'post',
                    async:false,
                    data:{
                        'mId':datas.id,
                        'pId':datas.pid
                    },
                    dataType:'json',
                    success:function(res){
                        layer.msg(res.msg);
                        if(res.code=='success'){
                            activt.reload();
                            layer.close(index);
                        }
                    }
                })
            })
        })
        treeTable.on('tree(update)',function(data){
            layer.open({
                title:'修改菜单',
                type:2,
                area:['800px','300px'],
                content:['/menu/goupdateMenu?mId='+data.item.id+'&mName='+data.item.title,'no'],
                btn:['保存','取消'],
                yes:function(index,layero){
                    var body=layer.getChildFrame('body',index);
                    //var iframeWin = window[layero.find('iframe')[0]['name']];//获取子界面docm对象
                    var mId=body.find("#mId").val();
                    var mName=body.find('#mName').val();
                    $.ajax({
                        url:'/menu/updateMenu',
                        type:'post',
                        dataType:'json',
                        async:false,
                        data:{
                            'mId':mId,
                            'mName':mName
                        },
                        success:function(res){
                            layer.msg(res.msg);
                            if(res.code=='success'){
                                activt.reload();
                                layer.close(index);
                            }
                        }
                    })
                }
            })
        })
        treeTable.on('tree(addchilden)',function(data){
            layer.msg('新增子菜单'+JSON.stringify(data));
            layer.open({
                type:2,
                title:'新增子菜单',
                area:['800px','300px'],
                content:['/menu/goaddChildMenu?mId='+data.item.id,'no'],
                btn:['保存','取消'],
                yes:function (index,layero) {
                    var body=layer.getChildFrame('body',index);
                    //var iframeWin = window[layero.find('iframe')[0]['name']];//获取子界面docm对象
                    var pId=body.find("#pId").val();
                    var mName=body.find('#mName').val();
                    var murl=body.find('#murl').val();
                    if(!pId){
                        layer.msg("pId为空请联系管理员");
                        return false;
                    }
                    if(!mName){
                        layer.msg("菜单名不能为空");
                        return false;
                    }
                    if(!murl){
                        layer.msg("菜单url不能为空");
                        return false;
                    }
                    $.ajax({
                        url:'/menu/goAddChilderMenu',
                        type:'post',
                        dataType:'json',
                        async:false,
                        data:{
                            'pId':pId,
                            'mName':mName,
                            'murl':murl
                        },
                        success:function(res){
                            layer.msg(res.msg);
                            if(res.code=='success'){
                                activt.reload();
                                layer.close(index);
                            }
                        }
                    })
                }
            })
        })
        $('.add').click(function(){
            layer.open({
                title:'添加父菜单',
                type:2,
                area:['800px','300px'],
                content:['/menu/goAddParentMenu','no'],
                btn:['保存','取消'],
                yes:function(index,layero){
                    var body=layer.getChildFrame('body',index);
                    //var iframeWin = window[layero.find('iframe')[0]['name']];//获取子界面docm对象
                    var mName=body.find('#mName').val();
                    if(!mName){
                        return false;
                    }
                    var flag=true;
                    $.ajax({
                        url:'/menu/addParentMenu',
                        type:'post',
                        dataType:'json',
                        async:false,
                        data:{
                            'mName':mName
                        },
                        success:function(res){
                            if(res.code!='success'){
                                flag=false;
                            }
                            layer.msg(res.msg);
                        }
                    })
                    if(flag){
                        activt.reload()
                        layer.close(index);
                    }
                }
            });
        })
       /* var resultTable = table.render({
            elem: '#menuGrid',
            height: 600,
            //data:user_data,
            url: '/menu/findMenuPage',
            toolbar: '#menuGrid_toolbar',
            //toolbar: false,
            page: true,
            cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'mId', title: 'ID', sort: true, fixed: 'left'},
                    {field: 'mName', title: '菜单名称'},
                    {field: 'murl', title: '访问地址'},
                    {field: 'pId', title: '父菜单ID'},
                    {field: 'opt', width: 400, title: '操作', toolbar: '#opt_tool'}
                ]
            ]
        })*/
    })
</script>
</body>
</html>