<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/layui.js" ></script>
    <link rel="stylesheet" href="../static/css/layui.css" />
</head>
<body style="padding-top:10px;">
<div class="layui-row">
    <div class="layui-col-xs3">&emsp;</div>
    <div class="layui-col-xs6">
        <form class="layui-form">
            <input type="hidden" name="mId" id="mId" th:value="${mId}"/>
            <div class="layui-form-item">
                <div class="layui-form-label">菜单名称</div>
                <div class="layui-input-inline">
                    <input class="layui-input" name="mName" id="mName" th:value="${mName}" placeholder="菜单名称"/>
                </div>
                <div class="layui-input-inline">
                    <span id="msg" style="color: red;"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-col-xs3">&emsp;</div>
</div>

<script type="text/javascript" th:inline="none">
    layui.use(['form','jquery'],function(){
        var form=layui.form;
        var $=layui.jquery;
        form.render();
        $('#mName').blur(function () {
            var mName=$('#mName').val();
            if(!mName){
                $('#msg').html("菜单名称不能为空！");
            }else{
                $('#msg').html("");
            }
        })
    })
</script>
</body>
</html>