<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hegu.tsurutani.dao.AdminCroadcastMapper">
    <select id="getapplyanchorList" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq" resultType="java.util.Map">
        select
        aId as "aId",uId as "uId",aName as "aName",
        aCarId as "aCarId",aStatus as "aStatus",filezmpath as "filezmpath",
        filefmpath as "filefmpath",update_time as "update_time"
        from sys_anchor_info
        where 1=1
        <if test="aStatus!=null and a.Status">
            and aStatus=#{aStatus}
        </if>
        order by update_time desc
    </select>
    <select id="getanchorbyaId" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq" resultType="java.util.Map">
         select
        aId as "aId",uId as "uId",aName as "aName",
        aCarId as "aCarId",aStatus as "aStatus",filezmpath as "filezmpath",
        filefmpath as "filefmpath",update_time as "update_time"
        from sys_anchor_info
        where aId=#{aId}
    </select>
    <update id="apply" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq">
        update sys_anchor_info set aStatus=#{aStatus} where aId=#{aId}
    </update>
    <delete id="deleteCroadcastByAId" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq">
        delete from sys_croadcast_info where anchorId=#{aId}
    </delete>
    <delete id="deleteAnchorByAId" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq">
        delete from sys_anchor_info WHERE aId=#{aId}
    </delete>
    <select id="getCroadcastList" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq" resultType="java.util.Map">
        select
        roomId as "roomId",title as "title",content as "content",
        rtmPath as "rtmPath",status as "status",personCount as "personCount",
        anchorId as "anchorId",update_time as "update_time"
        from sys_croadcast_info
        where 1=1
        <if test="status!=null and status!=''">
             and status=#{status}
        </if>
        <if test="title!=null and title!=''">
             and title like CONCAT('%',#{title},'%')
        </if>
        order by update_time desc
    </select>
    <update id="croadcastseizure" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq">
        update sys_croadcast_info set status=#{status} where roomId=#{roomId}
    </update>
    <update id="croadcastnnseal" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq">
        update sys_croadcast_info set status=#{status} where roomId=#{roomId}
    </update>
    <insert id="addCroadcastInfo" parameterType="com.hegu.tsurutani.entity.Croadcast">
        insert into sys_croadcast_info(roomId,title,content,rtmPath,status,personCount,anchorId,update_time)
        VALUES (#{roomId},#{title},#{content},#{rtmPath},#{status},#{personCount},#{anchorId},#{update_time})
    </insert>
    <select id="getCroadcastByRoomId" parameterType="com.hegu.tsurutani.entity.reqparam.AdminCroadcastReq" resultType="java.util.Map">
       select
        roomId as "roomId",title as "title",content as "content",
        rtmPath as "rtmPath",status as "status",personCount as "personCount",
        anchorId as "anchorId",update_time as "update_time"
        from sys_croadcast_info
        where roomId=#{roomId}
    </select>
</mapper>