<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hegu.tsurutani.dao.SysLogMapper">
        <insert id="saveSysLog" parameterType="com.hegu.tsurutani.handler.SysLogEntity">
            insert into sys_log(reqUrl,reqMethod,ip,classMethodName,reqParams,status,result,reqTime,souType)
            VALUES (#{reqUrl},#{reqMethod},#{ip},#{classMethodName},#{reqParams},#{status},#{result},#{reqTime},#{souType})
        </insert>
    
        <select id="getLogList" parameterType="com.hegu.tsurutani.entity.reqparam.AdminLogReqParam" resultType="com.hegu.tsurutani.handler.SysLogEntity">
            select * from sys_log
            where 1=1
            <if test="souType!=null and souType!=''">
                 and souType=#{souType}
            </if>
            <if test="reqUrl!=null and reqUrl!=''">
                 and reqUrl like  CONCAT('%',#{reqUrl},'%')
            </if>
            <if test="startTime!=null and startTime!=''">
                <![CDATA[
                      and reqTime >= #{startTime}
                  ]]>
            </if>
            <if test="endTime!=null and endTime!=''">
                <![CDATA[
                      and reqTime <= #{endTime}
                  ]]>
            </if>
            <if test="status!=null and status!=''">
                  and status=#{status}
            </if>
            order by reqTime desc
        </select>
</mapper>